{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}


{% block main %}
    <table class="table">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
                  <tr>
                    {% if transaction["shares"] > 0 %}
                      <th scope="row">{{transaction["symbol"]}}</th>
                      <td scope="col">{{transaction["shares"]}}</td>
                      <td scope="col">{{transaction["price"]}}</td>
                      <td scope="col">{{"%.2f"|format(transaction["shares"] * transaction["price"])}}</td>
                    {% endif %}
                  </tr>
            {%endfor %}
            <tr>
              <th scope="row">Cash</th>
              <td></td>
              <td></td>
              <td>{{"%.2f"|format(total_price)}}</td>
            </tr>
              <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td>{{"%.2f"|format(initial_cash)}}</td>
            </tr>
          </tbody>

    </table>
{% endblock %}
